<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>controller.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>controller.UserDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>controller.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HrAllocationServlet</servlet-name>
        <servlet-class>controller.HrAllocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocationDetailsForAddServlet</servlet-name>
        <servlet-class>controller.AllocationDetailsForAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocationDetailsForEditServlet</servlet-name>
        <servlet-class>controller.AllocationDetailsForEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueListServlet</servlet-name>
        <servlet-class>controller.IssueListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIssueServlet</servlet-name>
        <servlet-class>controller.DeleteIssueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocationEditServlet</servlet-name>
        <servlet-class>controller.AllocationEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/userdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/editservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HrAllocationServlet</servlet-name>
        <url-pattern>/hr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocationDetailsForAddServlet</servlet-name>
        <url-pattern>/addallocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocationDetailsForEditServlet</servlet-name>
        <url-pattern>/editallocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueListServlet</servlet-name>
        <url-pattern>/issuelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIssueServlet</servlet-name>
        <url-pattern>/dele</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocationEditServlet</servlet-name>
        <url-pattern>/allocationedit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
